:root {
    --main-bg: #25261A;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "42dot Sans", serif;
    background-color: var(--main-bg);
    color: white;
}

.w-90 {
    width: 90%;
}

.loading {
    min-height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-text {
    color: white;
    font-size: 48px;
}

.loading-text-in {
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.hidden {
    display: none;
}

#profile-image {
    width: 50%;
    border-radius: 50%;
}

#about-container {
    line-height: 1.7rem;
}

#about-intro {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}

.tab {
    border-top: 2px solid white;
    padding-top: 10px;
}

.tab button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    float: left;
    margin-bottom: 10px;
    transition: 0.5s;
}

.tab button.active {
    font-weight: bold;
    text-decoration: underline;
}

.tab-content {
    display: none;
    padding: 0 25px;
    animation: fadeIn 1s;
}

.contact-link {
    color: white;
}

.portfolio-card {
    text-decoration: none;
}

#footer {
    text-align: center;
    font-size: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
}
